.title {
	text-align: center;
	color: yellow;
	font-family: 'Pangolin', cursive;
	padding: 20px 50px;
	margin: 0px 500px;
}

.container1 {
	background: url(image2.jpg) no-repeat center fixed;
	background-size: cover;
  height: 700px;
  padding-top:60px;
	margin-top: 50px;
}

p {
	text-align: center;
	font-size: 18px;
	color: white;
	font-family: 'Pangolin', cursive;
}

.description {
  margin-left: 200px;
  margin-right: 200px;  
}

body {
    background-color: #ddd;
    margin: 0;
}
nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}
nav ul{
    margin: 0;
    text-align: left;
}
nav li {
    display: inline-block;
}
nav li a { 
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
  font-family: 'Roboto', sans-serif;
}

.hero {
	width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

.column {
  float: left;
  width: 33.333%;
}
.column-inner {
    padding: 20px;
}
.repos img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.repotext {
  color: white;
}